{% extends "@base/twigs/page.twig" %}
{% set title = "Index for pages and components" %}
{% block page %}
    <h3>TITULo</h3>

  <h4>Componentes</h4>
  <ul>
    <li><a href="components-list-template.html">Todos los componentes</a></li>
    {% for value in components %}
      <li><a href="01-components/{{value.dirname}}/{{ value.filename }}.html">{{ value.filename }}</a></li>
    {% endfor %}
  </ul>
  <h4>Bloques de Componentes</h4>
  <ul>
    {% for value in componentBlocks %}
      <li><a href="02-component-blocks/{{value}}/{{ value }}.html">{{ value }}</a></li>
    {% endfor %}
  </ul>
    <h4>Páginas</h4>
    <ul>
        {% for value in pages %}
            <li><a href="03-pages/{{ value }}/{{ value }}.html">{{ value }}</a></li>
        {% endfor %}
    </ul>

    <h3><a href="/svg/sprite/sprite.symbol.html">SVG SPRITES</a></h3>
    {{svgSprite('logo-red')}}
    {{svgSprite('reiniciar')}}
{% endblock %}

